* {
  box-sizing: border-box;
}
:root {
  --duckegg: #B7DDE2;
  --grey-light: #F2F4F5;
  --grey: #9AA3A8;
  --grey-dark: #2F3437;
  --rgb(150, 184, 204)
}
/* text */
h1 {
  font-size: 42px;
  margin-top: 20px;
}
body{
    background-image: url(./images/download\ copy.png);
  background: cover;

}
main {
  margin: 0px;
  display: flex;
  unicode-bidi: isolate;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
/* header */

.header-logo {
  font-family: "Arial", cursive;
  color: #090909;
  font-size: 80px;
  text-align: center;
  padding: 20px 25px;
  margin: 0px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Navigation */

.menu-bar {
background: rgba(0, 0, 0, 0.6);
text-align: center;
position: sticky;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: rgb(139, 241, 207);
}

.menu-bar ul li{
    width: auto;
    margin: 10px;
    padding: 10px;
}
.menu-bar ul li a{

    text-decoration: none;
    color: #f1b6c0;
}
.active, .menu-bar ul li a:hover{
    background-color: #42e5d2;
    border-radius: 5%;
    padding: 10px 15px;
}
.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu1{
    display: none;
}
.menu-bar ul li:hover .sub-menu1{
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    margin-top: 10px;
    margin-left: -10px;
}
.menu-bar ul li:hover .sub-menu1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu1 ul li{
    width: auto;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu1 ul li:last-child{
    border-bottom: none;

}

.menu-bar ul li:hover .sub-menu1 ul li:hover{
    color: #c79de3;

}

.nav-link:hover {
  color: #00d4ff;
}

@media (min-width: 900px) {
  .main-nav-link {
    font-size: 32px;
  }
}

/* calculator */

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 15px;
  background-color: rgb(39, 41, 43);
  max-width: 360px;
  overflow: hidden;
  padding: 1rem;
  box-shadow: 4px 4px 4px #424242;
  margin: 30px;
}

#display {
  width: 100%;
  height: 5rem;
  resize: none;
  padding: 0.75rem;
  border: none;
  background-color: rgb(64, 68, 70);
  color: white;
  font-size: 1.2rem;
  line-height: 1.4rem;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: left;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 10px; 10px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: rgb(85, 92, 96);
  color: white;
  font-size: 2rem;
  front-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 0px #999;
}

button:hover {
  opacity: 70%;
}
button:active {
opacity: 90%;
}
.operator-btn {
  background-color: rgb(247, 140, 25);
}
.useful-btn {
  background-color: rgb(144, 201, 230);
}
.extra-btn {
  width: 60px;
  height: 40px;
  border-radius: 12px;
  background-color: rgb(105, 125, 134);
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(4, 1fr);
  font-size: 1.2rem;
  front-weight: bold;
}
.extra-btn:hover {
  background-color: hsl(105, 125%, 134%, 0.2);
}
.extra-btn:active {
  background-color: rgb(120, 140, 150);
  transform: translateY(2px);
}   


/* Contact Section */
.contact {
  background: linear-gradient(to right, #87e6c6, #25a1e3);
  color: #2F3437;
  padding: 60px 0px;
  text-align: center;
}

.contact h2 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact-content {
  max-width: auto;
  margin: 0 auto;
}

.contact-content p {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.contact-btn {
  display: inline-block;
  background-color: #87e6c6;
  color: var(--grey-dark);
  padding: 0.8rem 2rem;
  border-radius: 4px;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  font-weight: 500;
}
.contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* Footer */
footer {
  background-color: #1a1a2e;
  color: white;
  text-align: center;
  padding: 2rem;
}

.footercontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px, 20px;
}


/* Responsive Design */
@media (max-width: 768px) {
  .nav-links {
    gap: 1rem;
    font-size: 0.9rem;
  }